html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow:hidden;
  font-family:sans-serif;
  color: rgba(255,255,255,0.65);
  font-weight:200;
}
.main {
  height: 100%;
  display:grid;
  grid-template-columns: 80px 30% auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". left right";
  grid-gap: 10px;
  background-image:url('https://c2.staticflickr.com/4/3444/3735819827_da537fd58e_b.jpg');
  background-size:cover;
  background-repeat: no-repat;
}

.main::before {
  content: '';
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom left, rgba(0,0,0,1.0), rgba(0,0,0,0.0));
  opacity: 0.9;
}

.main > div {
  background:rgba(0,0,0,0.25);
  z-index:1;
}

.left {
  grid-area:left;
}

.right {
  grid-area:right;
}

.card {
  height:100%;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 20px 180px auto;
  grid-template-columns: 180px auto;
  grid-template-areas:
    ". close"
    "img info"
    "video video";
  margin: 10px;
  position:relative;
}

.card > div {
  background-color: rgba(255,255,255,0.25);
  padding: 10px;
  justify-items: center;
}

.close {
  grid-area: close;
  align-self: center;
  background-color:rgba(0,0,0,0) !important;
  text-align:right;
  position:relative;
  z-index:4;
}

.close:hover {
  cursor:pointer;
}

.close::after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  width:0;
  height:100%;
  background-color:rgba(255,255,255,0.25);
  transform-origin:right;
  transition:width 0.25s ease-in-out;
  grid-area: close;
  z-index:-10;
}

.close:hover::after {
  width:100%;
}

.img {
  grid-area: img;
  justify-items: center;
  overflow:hidden;
  border-radius:50%;
  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;
}

.info {
  grid-area: info;
  font-size:auto;
  overflow:auto;
}
.info p {
  margin-top: 0;
  display:block;
}
.video {
  height:100%;
  background-color: rgba(0,0,0,0) !important;
  padding:0 !important;
  grid-area: video;
}

.card--small {
  position:relative;
  max-width: 80%;
  border: 2px solid white;
  height: auto;
  margin: 10px auto;
  padding: 25px;
  text-align:center;
  font-weight:900;
  transition:color 0.25s ease-in-out;
}

.card--small::after {
  position:absolute;
  content:'';
  top:0;
  left:0;
  width:0;
  height:100%;
  background-color:rgba(255,255,255,0.25);
  transform-origin:left;
  transition:width 0.25s ease-in-out;
  grid-area: close;
  z-index:-10;
}

.card--small:hover {
  cursor:pointer;
  color:rgb(0,0,0);
}

.card--small:hover::after {
  width:100%;
}
